body{
	font-family: Helvetica;
	background-color: white;
	margin: 0%;
}
.sidebar{
	position:fixed;
	background-color: #8EC760;
	min-height: 100vh;
	max-height: 100vh;
	min-width: 15%;
	max-width: 15%;
	margin: 0%;
	padding: 0%;
	z-index: 5;
}
.main{
	position: absolute;
	float:left;
	background-color: white;
	min-height: 100vh;
	max-height: 100vh;
	min-width: 75%;
	max-width: 75%;
	z-index: 1;
}
.content{
	position: absolute;
	animation-name: slideInFromLeft;
	animation-duration: 1s;

	color:#2e2e2e;
	background-color: gray;
	margin: 5%;
	/*height: 100%;*/
	width: 90%;
	margin-left: 25%;
	z-index: 1;
}
.adspace{
	position: fixed;
	float:right;
	background-color: gray;
	color: black;
	min-height: 100vh;
	max-height: 100vh;
	min-width: 10%;
	max-width: 10%;
	margin-left:90%;
}
.header{
	padding-top: 5%;
	color: white;
	font-family: Helvetica;
	font-size: 48px;
}
.logo{
	width: 50%;
}
.footer{
	position:fixed;
	color: white;
	background-color: #6A9447;
	bottom: 0px;
	width:13%;
	padding: 1%;
}
.sidebutton{
	display: inline-block;
	color:white;
	text-decoration: none;
	margin-left: 10%;
	margin-top: 1%;
	padding:10px;
	background-color:#7CAD53;
	width:75%;
	box-shadow: 2px 2px 5px black;
	font-size: 32px;
	text-align: left;
	transition: background-color 0.3s, transform 0.3s;
	
}
.sidebutton:link{
	
}
.sidebutton:visited{

}
.sidebutton:hover{
	background-color: #334722;
	transform: translate(20%, 0px);
}
.sidebutton:active{
	
}

.image{
	width:20%;
	height:20%;
}

/* Animations and stuff beyond this point */
@keyframes slideInFromLeft{
	0%{	transform: translateX(-150%); }
	100%{ transform: translateX(0%); }
}

/* Modal Stuff */
